@tailwind base;
@tailwind components;
@tailwind utilities;

/*  Preloader */
#pre_loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #0c0513;
  /* background-image: url(./Assets/pre.svg); */
  background-repeat: no-repeat;
  background-position: center;
}

#pre_loader-none {
  opacity: 0;
}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}
